<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Omarchy Gaming Console</vendor>
  <vendor_url>https://github.com/jcarcinogen/omarchy-gaming-console</vendor_url>
  <action id="org.omarchy.gaming-console.switch">
    <description>Switch from Omarchy to the temporary Console session</description>
    <message>Authentication is required to close the desktop and switch to Console</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/omarchy-switch-to-console</annotate>
  </action>
</policyconfig>
